<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"/>
    <property name="connection.driver_class"/>
    <mapping class="com.example.springmvcproducto2.models.entity.PEDIDOEntity"/>
    <mapping class="com.example.springmvcproducto2.models.entity.ContieneEntity"/>
    <mapping class="com.example.springmvcproducto2.models.entity.PedidoEntity"/>
    <mapping class="com.example.springmvcproducto2.models.entity.MenuEntity"/>
    <mapping class="com.example.springmvcproducto2.models.entity.ProductoEntity"/>
    <mapping class="com.example.springmvcproducto2.models.entity.TieneEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>